.u-content-styles {
  font-size: 14px;
  line-height: 20px;
  .anchor {
    display: block;
  }
  + .accordion {
    margin-top: 40px;
  }
  a {
    display: inline-block;
    max-width: 100%;
    word-break: break-word;
  }
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 900;
    margin: 20px 0 10px;
    &:first-child {
      margin-top: 0;
    }
  }
  h2 {
    font-size: 24px;
    line-height: 30px;
  }
  h3 {
    font-size: 20px;
    line-height: 20px;
  }
  h4 {
    font-size: 18px;
    line-height: 20px;
  }
  h5 {
    font-size: 16px;
    line-height: 20px;
  }
  h6 {
    font-size: 14px;
    line-height: 20px;
  }
  b,
  strong {
    font-weight: 900;
  }
  pre {
    margin: 20px 0;
    word-break: break-word;
    white-space: pre-wrap;
    font-family: "Lucida Console", Monaco, monospace;
    padding: 20px;
    line-height: 20px;
    font-size: 14px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  i:not([class]),
  em {
    font-style: italic;
  }
  p {
    margin: 0 0 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  ul {
    list-style: none;
    margin-bottom: 20px;
    li {
      position: relative;
      padding-left: 20px;
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
      &:before {
        content: "\f105";
        @include fa();
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        text-align: center;
        color: #A7A8AA;
        line-height: 20px;
      }
    }
  }
  ol {
    list-style: none;
    margin-bottom: 20px;
    li {
      position: relative;
      padding-left: 20px;
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .table-container {
    overflow: auto;
    margin: 0 -20px;
    padding: 20px;
  }
  table {
    width: 100% !important;
    background: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    thead {
      th,
      td {
        border: 0 !important;
        color: #fff;
        background: $black;
        padding: 10px 20px 10px 0 !important;
        &:first-child {
          padding-left: 20px !important;
        }
      }
    }
    tbody {
      tr {
        &:last-child {
          td,
          th {
            border-bottom: 0;
          }
        }
        td,
        th {
          text-align: left;
          border: 0 !important;
          border-bottom: 1px solid $grey !important;
          padding: 10px 20px 10px 0 !important;
          &:first-child {
            padding-left: 20px !important;
          }
        }
        th {
          font-weight: 900;
        }
      }
    }
  }
  
  .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    margin: 20px 0;
    &:last-child {
      margin-bottom: 0;
    }
  }

  .video-container iframe,
  .video-container object,
  .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .columns {
    margin: 20px 0;
    .col {
      padding: 0 0 20px;
      justify-content: flex-start;
      &.file-col {
        > ul {
          li {
            a:not(.edy-content-social-button) {
              opacity: 0;
              visibility: hidden;
              transition: all .3s ease-in-out;
              &.u-ready {
                opacity: 1;
                visibility: visible;
              }
            }
          }
        }
        ul {
          li {
            padding-left: 0;
            &:before {
              display: none;
            }
          }
        }
        a:not(.edy-content-social-button) {
          display: inline-block;
          vertical-align: top;
          position: relative;
          padding: 5px 0 5px 60px;
          min-height: 50px;
          font-size: 16px;
          line-height: 20px;
          i {
            position: absolute;
            top: 50%;
            left: 0;
            width: 50px;
            height: 50px;
            margin-top: -25px;
            font-size: 28px;
            line-height: 46px;
            text-align: center;
            border: 2px solid $base-blue;
            border-radius: 50%;
          }
          .file-label {
            text-decoration: underline;
            word-break: break-word;
          }
          .file-data {
            display: block;
            color: #A7A8AA;
            font-size: 12px;
            line-height: 20px;
            text-decoration: none;
            text-transform: uppercase;
          }
        }
      }
    }
  }
  .btn {
    margin: 10px 20px 0 0;
  }
  @include min-screen(768px) {
    font-size: 18px;
    line-height: 25px;
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 40px 0 20px;
    }
    h2 {
      font-size: 30px;
      line-height: 30px;
    }
    h3 {
      font-size: 24px;
      line-height: 30px;
    }
    h4 {
      font-size: 20px;
    }
    h5 {
      font-size: 18px;
    }
    h6 {
      font-size: 16px;
    }
    ul {
      li {
        padding-left: 30px;
        margin-bottom: 20px;
        &:before {
          width: 30px;
          line-height: 30px;
        }
      }
    }
    .columns {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      margin: 40px -20px 0;
      .col {
        flex: 1 1 50%;
        width: 50%;
        padding: 0 20px 40px;
      }
    }
    .table-container {
      padding: 40px 20px;
    }
    .video-container {
      margin: 40px 0;
    }
  }
  @include min-screen(992px) {
    .columns {
      .col {
        &.file-col {
          a:not(.edy-content-social-button) {
            min-height: 60px;
            padding: 5px 0 5px 80px;
            font-size: 20px;
            line-height: 30px;
            i {
              width: 60px;
              height: 60px;
              margin-top: -30px;
              font-size: 28px;
              line-height: 56px;
            }
          }
        }
      }
    }
  }
}