.domains-grid {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
  width: 1380px;
  max-width: 100%;
  margin: 0 auto;
  &--item {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    &.is-open {
      .toggle {
        color: #fff;
        background: #A7A8AA;
      }
    }
    &.u-blue {
      .data {
        color: #fff;
        background: $base-blue;
      }
    }
    .link {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px;
      flex: 1 1 auto;
    }
    .container {
      display: flex;
      min-height: 100%;
      color: #212224;
      background: #fff;
      box-shadow: 0 0 20px rgba(0,0,0,.1);
    }
    .content {
      display: flex;
      flex-direction: column;
      flex: 1 1 100%;
      width: 100%;
      min-width: 200px;
      min-height: 170px;
      > p {
        margin: 0 0 10px;
      }
    }
    .extra {
      padding: 0 20px 20px;
      text-align: left;
    }
    .statuses {
      padding: 10px 20px;
    }
    .toggle {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 0 0 30px;
      width: 30px;
      cursor: pointer;
      transition: all .3s ease-in-out;
      background: #DEE0E3;
      &:hover {
        color: #fff;
        background: #A7A8AA;
        text-decoration: none;
      }
      .icon {
        margin: 0;
      }
    }
    h2 {
      margin: 0;
      font-size: 20px;
      line-height: 18px;
      font-weight: 900;
      word-break: break-all;
    }
    p {
      margin: 0;
    }
    a {
      color: $black;
      &:hover {
        text-decoration: underline;
      }
    }
    .data {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      padding: 10px;
      background: #EAEBED;
      strong {
        display: block;
      }
      p {
        flex: 1 0 33.3333%;
        width: 33.3333%;
        min-width: 150px;
        padding: 0 10px 10px;
      }
    }
  }
  @include min-screen(768px) {
    &--wrap {
      padding: 0 10px;
    }
    &--item {
      width: 50%;
      padding: 0 10px;
      .link {
        padding: 40px 20px 20px;
      }
      h2 {
        font-size: 24px;
        line-height: 20px;
      }
    }
  }
  @include min-screen(1224px) {
    &--wrap {
      padding: 0 30px;
    }
    &--item {
      padding: 0 20px;
      margin-bottom: 40px;
    }
  }
}

.domains-list {
  background: $true-white;
  box-shadow: 0 0 20px 0 rgba($true-black, 0.10);
  display: flex;
  flex-wrap: wrap;
  .item {
    display: flex;
    flex: 0 0 50%;
    max-width: 50%;
    border-bottom: 1px solid $grey3;
    &:nth-child(odd) {
      padding-right: 19px;
      border-right: 1px solid $grey3;
    }
    &:nth-last-child(-n+2) {
      border-bottom: 0;
    }
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 20px 20px 19px 20px;
      font-weight: 900;
      font-size: 20px;
      color: $black;
      line-height: 30px;
      width: 100%;
      flex: 0 0 100%;
      word-break: break-all;
      transition: all 200ms ease;
      &:hover {
        transform: scale(1.05);
      }
      &:active {
        transform: scale(1);
      }
    }
  }
  @include max-screen(479px) {
    display: block;
    .item {
      max-width: 100%;
      border-right: 0 !important;
      &:nth-last-child(2) {
        border-bottom: 1px solid $grey3;
      }
    }
  }
}