/* TODO: DELETE THIS */

.features-grid {
  &-1 {
    background: $blue;
    background: $blue url("../../images/html-pattern2.png") no-repeat calc(((100% + 720px) - 1340px) / 2 + 110px) -86px / 720px auto;
    margin-top: -40px;
    padding-top: 20px;
    padding-bottom: 80px;
    color: $true-white;
    text-align: center;
    &__overview {
      padding: 25px 0;
      background: $blue;
      box-shadow: 0 0 40px 0 rgba($true-black, 0.20);
      text-align: center;
      margin: 0 90px 40px 90px;
      position: relative;
      z-index: 20;
      &__title {
        display: block;
        font-weight: 500;
        font-size: 24px;
        color: $grey7;
        line-height: 30px;
        strong {
          color: $true-white;
        }
      }
    }
    &__items {
      display: flex;
      flex-wrap: wrap;
      margin-left: -40px;
      margin-bottom: -40px;
      .features-grid-1__item {
        flex: 0 0 33.33%;
        max-width: 33.33%;
        padding-left: 40px;
        margin-bottom: 40px;
      }
    }
    &__item {
      .ui {
        &.icon {
          &.header {
            margin: 0;
            line-height: 30px;
            color: $true-white;
            .fa {
              font-size: 40px;
              line-height: 40px;
              margin-bottom: 20px;
            }
            .sub {
              &.header {
                margin-top: 10px;
                line-height: 20px;
                color: $true-white;
              }
            }
          }
        }
      }
    }
    &__text {
      font-weight: 500;
      margin-top: 20px;
      font-size: 18px;
      p {
        line-height: 30px;
      }
      a {
        color: $true-white;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }
    &--green {
      background: $green;
      background: $green url("../../images/html-pattern2.png") no-repeat calc(((100% + 720px) - 1340px) / 2 + 110px) -86px / 720px auto;
      .features-grid-1__overview {
        background: $green;
      }
    }
  }
  &-2 {
    background: $grey2;
    padding: 80px 0 160px 0;
    margin-bottom: -40px;
    h2 {
      margin-bottom: 40px;
      text-align: center;
    }
    &__items {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: -40px;
      margin-left: -40px;
      .features-grid-2 {
        &__item {
          flex: 0 0 25%;
          max-width: 25%;
          padding-left: 40px;
          margin-bottom: 40px;
        }
      }
    }
    &__item {
      .ui {
        &.icon {
          &.header {
            margin: 0;
            line-height: 20px;
            text-align: left;
            .fa {
              font-size: 50px;
              line-height: 60px;
              margin-bottom: 20px;
            }
            .sub {
              &.header {
                color: $black;
                margin-top: 10px;
                line-height: 25px;
              }
            }
          }
        }
      }
    }
  }
  @include max-screen(991px) {
    &-1 {
      padding-bottom: 40px;
      &__items {
        .features-grid-1__item {
          flex: 0 0 50%;
          max-width: 50%;
        }
      }
      &__overview {
        margin-left: 60px;
        margin-right: 60px;
      }
    }
    &-2 {
      padding-top: 40px;
      padding-bottom: 80px;
      &__items {
        .features-grid-2__item {
          max-width: 50%;
          flex: 0 0 50%;
        }
      }
    }
  }
  @include max-screen(767px) {
    &-1 {
      &__overview {
        margin-left: 20px;
        margin-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        &__title {
          font-size: 18px;
          line-height: 25px;
        }
      }
      &__items {
        display: block;
        margin: 0;
        .features-grid-1__item {
          max-width: 100%;
          margin: 0;
          padding: 0;
          & + .features-grid-1__item {
            margin-top: 40px;
          }
        }
      }
    }
    &-2 {
      &__items {
        margin-left: -20px;
        margin-bottom: -20px;
        .features-grid-2__item {
          padding-left: 20px;
          margin-bottom: 20px;
        }
      }
    }
  }
  @include max-screen(479px) {
    &-2 {
      &__items {
        display: block;
        margin: 0;
        .features-grid-2__item {
          padding: 0;
          margin: 0;
          max-width: 100%;
          & + .features-grid-2__item {
            margin-top: 20px;
          }
        }
      }
    }
  }
}
