.invoices-list {
  margin-top: 80px;
  margin-bottom: 120px;
  @include max-screen(991px) {
    margin-top: 40px;
    margin-bottom: 60px;
  }
  @include max-screen(767px) {
    margin-bottom: 40px;
  }
}
.invoice {
  .card {
    height: 1024px;
    font-size: 18px;
    line-height: 30px;
  }
  .ui {
    &.table {
      box-shadow: none;
      margin: 0;
      flex-grow: 999;
      tr,
      tr:last-child {
        td:last-child,
        th:last-child {
          padding-right: 40px;
        }
      }
      thead {
        th {
          background: $grey3;
          color: $black;
          border-bottom: $grey3;
          font-size: 16px;
        }
      }
      tbody {
        tr {
          td {
            font-size: 18px;
            p {
              line-height: 20px;
              margin-bottom: 10px;
              &:last-child {
                margin-bottom: 0;
              }
            }
          }
        }
      }
      &.very.basic {
        tr,
        tr:last-child {
          td,
          th {
            font-size: 18px;
            line-height: 30px;
            padding: 0 20px 0 0;
            border: 0;
          }
          td:first-child,
          th:first-child {
            width: 220px;
          }
          td:last-child,
          th:last-child {
            padding-right: 0;
          }
        }
      }
    }
  }
  .footer {
    display: flex;
    padding: 40px;
    background-image: linear-gradient(90deg, $grey2 0%, $grey4 100%);
    margin-top: auto;
    font-size: 14px;
    line-height: 20px;
  }
  @media all and (-ms-high-contrast:none) {
    min-height: 0;
  }
  @include max-screen(991px) {
    min-height: 0;
  }
  @include max-screen(767px) {
    .footer {
      padding: 20px;
    }
    .ui.table {
      &:not(.unstackable) {
        thead {
          tr {
            background: $grey3;
            th {
              background: $grey3;
            }
          }
        }
      }
    }
  }
}
.invoice-empty {
  padding-top: 160px;
  padding-bottom: 220px;
  text-align: center;
  i {
    display: inline-block;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 20px;
  }
  &__title {
    display: block;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
  }
  &__body {
    width: 880px;
    max-width: 100%;
    margin: 0 auto;
  }
  @include max-screen(767px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.invoice-overview {
  padding-top: 80px;
  padding-bottom: 80px;
  background-image: linear-gradient(90deg, $grey2 0%, $grey4 100%);
  margin: -40px 0;
  h2 {
    margin-bottom: 40px;
  }
  h3 {
    line-height: 30px;
  }
  &__body {
    width: 880px;
    max-width: 100%;
    margin: 0 auto;
  }
  .details-list-02 {
    &__label {
      flex: 0 0 190px;
      margin-right: 40px;
    }
  }
}
