.payment-methods {
  margin-top: -60px;
  .items {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 -40px -40px;
    .item {
      margin: 0 0 40px 0;
      padding-left: 40px;
      flex: 0 0 20%;
      max-width: 20%;
      a {
        padding: 10px 20px;
        background: $white;
        box-shadow: 0 0 20px 0 rgba($black, 0.10), inset 0 -4px 0 0 rgba($black, 0.10);
        border-radius: 5px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        font-size: 12px;
        text-align: center;
        line-height: 15px;
        color: $black;
        transition: all 200ms ease;
        i {
          display: block;
          font-size: 20px;
          line-height: 30px;
          margin-bottom: 10px;
        }
        img {
          display: block;
          max-width: 100%;
          max-height: 100%;
          width: auto;
          height: auto;
        }
        &:hover {
          transform: scale(1.05);
        }
        &:active {
          transform: scale(1);
        }
      }
    }
  }
  @include max-screen(1224px) {
    margin-top: -40px;
  }
  @include max-screen(991px) {
    .items {
      margin: 0 0 -20px -20px;
      .item {
        margin: 0 0 20px 0;
        padding-left: 20px;
      }
    }
  }
  @include max-screen(767px) {
    margin-top: 20px;
    .items {
      .item {
        flex: 0 0 33.33%;
        max-width: 33.33%;
      }
    }
  }
  @include max-screen(479px) {
    .items {
      .item {
        flex: 0 0 50%;
        max-width: 50%;
      }
    }
  }
}