.steps {
  padding: 60px 0 20px 0;
  background: $grey2;
  margin-top: -40px;
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -40px;
    margin-bottom: -40px;
    .steps__item {
      margin-left: 40px;
      margin-bottom: 40px;
    }
  }
  &__item {
    flex: 0 1 190px;
    text-align: center;
    color: $grey;
    i {
      width: 60px;
      height: 60px;
      border-radius: 100%;
      background: $grey;
      line-height: 60px;
      font-size: 28px;
      text-align: center;
      color: $true-white;
    }
    &__title {
      display: block;
      margin-top: 10px;
      font-weight: 900;
      text-transform: uppercase;
      font-size: 14px;
      line-height: 20px;
    }
    &--active {
      color: $black;
      i {
        color: $true-white;
        background: $black;
      }
    }
  }
  @include max-screen(767px) {
    &__list {
      margin-left: -20px;
      margin-bottom: -20px;
      .steps__item {
        margin-left: 20px;
        margin-bottom: 20px;
      }
    }
  }
}
